<center><img src="http://i.imgur.com/sSaOozN.png" width="500"></center>

## Course: Computational Thinking for Governance Analytics

### Prof. José Manuel Magallanes, PhD 
* Visiting Professor of Computational Policy at Evans School of Public Policy and Governance, and eScience Institute Senior Data Science Fellow, University of Washington.
* Professor of Government and Political Methodology, Pontificia Universidad Católica del Perú. 

_____
<a id='home'></a>

# Data collecting

1. [The GitHub Repo](#part1) 
2. [Uploading files](#part2)
3. [APIs](#part3) 
4. [Scraping](#part4) 
5. [Social media](#part5)

____
<a id='part1'></a>

## 1. The GitHub Repo

**Where is the Data?**
**Where is the Code?**

We use GitHub as a way to organize our work. It helps transforming the way you can store and access your code and data outside your local machine: an easy way of experiencing the cloud. 

You should have a GitHub account and the GitHub desktop version already installed. If not, do so now and then continue with these steps:

1. Once you are signed into GitHub web, create a _repository_. Choose a name for your repo. **DO NOT forget** to select the option to add a READ ME file, choose a **LICENSE** too.
2. **Clone** the repository just created into your computer. You can select where to clone the repository, avoid cloning the repo into a folder from another app (i.e. Dropbox).


Next, let's open the data file that you find [here](https://drive.google.com/drive/folders/1uH6S-8rns8THDnBRCy3OGLEki9LjyTCL?usp=sharing). Once you open the file, you will see something like this:

In [ ]:
from IPython.display import IFrame  
wikiLink="https://docs.google.com/spreadsheets/d/e/2PACX-1vRXdVAxZTnQ6N7bI1xJ_XRQSoG-FsiucGI_fsyBuKCi6TcO3guGB_-6nk4i6so7SG__eIpfS0o8pUuZ/pubhtml?widget=true&amp;headers=false" 
IFrame(wikiLink, width=700, height=300)

Understanding what you see is not straightforward:

* What does these data represent?
* What does each column represent?
* What possible mistakes can appear in the data values?
* What variables will be useful for my hypotheses and goals?

If this is the first time you run into a data set like this, you first need to **read** the documentation of the data (available in the same link above).

At this stage, you can download these data from GoogleDocs into the folder cloned from GitHub (now in your local machine). Download it first as a CSV file. 

Now, open GitHub Desktop App. You will see that the app is telling you some changes have ocurred in your local files (in the cloned repository from GitHub). Now, let's **Commit** and **Push**, that will syncronize contents in your local repo and your cloud repo.

In *my own* repo, it looks like [this](https://github.com/EvansDataScience/data/blob/master/HSBfromGoogle.csv).

GitHub allows you to see the data content (it is not always possible). Now, find the icon **raw** and copy its link address (**do not** copy the URL of the page). This is mine:

https://github.com/EvansDataScience/data/blob/master/HSBfromGoogle.csv

Now let's get ready for Python.

[home](#home)

____
<a id='part2'></a>

## 2. Uploading files

The file we are planing to read into Python is a data table. Python needs support from one of its libraries to deal with data tables: **PANDAS**

* Check if you already have Pandas.
* If you do not have it, install it.

In [ ]:
# do I have it?
!pip show pandas

In [ ]:
# if you do not have it:
#!pip install pandas

Now that you have *Pandas*, you can read in the data:

In [17]:
# call pandas
import pandas as pd # 'pd' is a nickname

# use a function from pandas to read the cloud data into a Python object
gitCloudRepo='https://github.com/elenapopic/542repo/raw/main/'
fileName="HSBfromGoogle.csv"

DFcsv=pd.read_csv(gitCloudRepo + fileName)

If Python has not **complained**, that is, you got no error messages, then, you are good to continue!

The **DFcsv** Python object holds the data:

In [18]:
DFcsv

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,596,Male,Hispanic,High,Private,General,0.27,-1.05,0.33,Professional_1,60.1,54.1,56.3,55.3,55.6
596,597,Male,Hispanic,Medium,Private,General,0.55,0.34,1.00,Technical,62.7,61.9,72.9,63.4,55.6
597,598,Male,Hispanic,Medium,Private,General,-0.61,0.34,0.67,Technical,68.0,54.1,74.6,66.1,65.5
598,599,Female,Hispanic,Medium,Private,General,0.23,0.94,1.00,Professional_2,57.4,67.1,57.9,60.7,55.6
599,600,Male,Hispanic,Medium,Private,General,0.02,0.03,0.33,Professional_1,62.7,54.1,64.7,58.0,50.6

This object is of a particular type:

In [ ]:
type(DFcsv)

The type is **Data Frame** (DF). Several functions can be applied to DFs. Let me show you some basic ones.

In [19]:
# dimensions (rows,columns)
DFcsv.shape

(600, 15)

In [20]:
# top / bottom
DFcsv.head(10) #tail()

,id,sex,race,ses,sctyp,hsp,locus,concpt,mot,car,rdg,wrtg,math,sci,civ
0,1,Female,Asian,Low,Public,Vocational/Technical,0.29,0.88,0.67,Professional_2,33.6,43.7,40.2,39.0,40.6
1,2,Male,Asian,Low,Public,Academic preparatory,-0.42,0.03,0.33,Craftsman,46.9,35.9,41.9,36.3,45.6
2,3,Female,Asian,Low,Public,Academic preparatory,0.71,0.03,0.67,Professional_1,41.6,59.3,41.9,44.4,45.6
3,4,Female,Asian,Medium,Public,Vocational/Technical,0.06,0.03,0.00,Service,38.9,41.1,32.7,41.7,40.6
4,5,Female,Asian,Medium,Public,Vocational/Technical,0.22,-0.28,0.00,Clerical,36.3,48.9,39.5,41.7,45.6
5,6,Male,Asian,Medium,Public,Academic preparatory,0.46,0.03,0.00,Proprietor,49.5,46.3,46.2,41.7,35.6
6,7,Male,Asian,Low,Public,General,0.44,-0.47,0.33,Professional_2,62.7,64.5,48.0,63.4,55.6
7,8,Female,Asian,Low,Public,General,0.68,0.25,1.00,Professional_1,44.2,51.5,36.9,49.8,55.6
8,9,Male,Asian,Medium,Public,General,0.06,0.56,0.33,Professional_1,46.9,41.1,45.3,47.1,55.6
9,10,Female,Asian,Low,Public,General,0.05,0.15,1.00,Proprietor,44.2,49.5,40.5,39.0,50.6

In [21]:
# column names
DFcsv.columns

Index(['id', 'sex', 'race', 'ses', 'sctyp', 'hsp', 'locus', 'concpt', 'mot',
       'car', 'rdg', 'wrtg', 'math', 'sci', 'civ'],
      dtype='object')

In [22]:
# access by column index
DFcsv.iloc[:,4]

0       Public
1       Public
2       Public
3       Public
4       Public
        ...
595    Private
596    Private
597    Private
598    Private
599    Private
Name: sctyp, Length: 600, dtype: object

In [23]:
# access by column name
DFcsv.loc[:,'sctyp']

0       Public
1       Public
2       Public
3       Public
4       Public
        ...
595    Private
596    Private
597    Private
598    Private
599    Private
Name: sctyp, Length: 600, dtype: object

In [24]:
# subdata frame
DFcsv[['sctyp']]

       sctyp
0     Public
1     Public
2     Public
3     Public
4     Public
..       ...
595  Private
596  Private
597  Private
598  Private
599  Private

[600 rows x 1 columns]

And the most important for future sessions:

In [25]:
DFcsv.info() # the data types Python has assigned

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      600 non-null    int64
 1   sex     600 non-null    object
 2   race    600 non-null    object
 3   ses     600 non-null    object
 4   sctyp   600 non-null    object
 5   hsp     600 non-null    object
 6   locus   600 non-null    float64
 7   concpt  600 non-null    float64
 8   mot     600 non-null    float64
 9   car     600 non-null    object
 10  rdg     600 non-null    float64
 11  wrtg    600 non-null    float64
 12  math    600 non-null    float64
 13  sci     600 non-null    float64
 14  civ     600 non-null    float64
dtypes: float64(8), int64(1), object(6)
memory usage: 70.4+ KB

Python will not care about the original data file (CSV, EXCEL. etc.), once they are read into Python you will have a DF.

**Proprietary Sofware**

Several times, you may find that you are given a file that was previously prepared with proprietary software. The most common in the policy field are:

* SPSS (file extension: **sav**).
* STATA (file extension: **dta**).
* EXCEL (file extension: **xlsx** or **xls**).

Getting these files up and running might not bring much pre processing challenges. However, you may need different levels of effort to read them from **GitHub**: they will not be as easy to open as a CSV.

Download [these files](https://drive.google.com/drive/folders/1XxTztY6rFkGwbR7wUtO_xiD4xvBrFqJN?usp=share_link) into the repository where your CSV file is currently stored in your local machine, then commit and push.

**Exercise:**
    
Open the other files (excel, spss, stata). 

**TIPS**

Check these functions: 
* For STATA: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_stata.html
* FOR EXCEL: 
    - https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
    - https://openpyxl.readthedocs.io/en/stable/
    - https://xlrd.readthedocs.io/en/latest/
* FOR SPSS:
    - https://pandas.pydata.org/docs/reference/api/pandas.read_spss.html
    - https://github.com/Roche/pyreadstat

Opening SPSS might more challenging.


Check if all the functions work well with the DFs created. Verify if the results are the same.

[home](#home)

____

<a id='part3'></a>

## 3. Collecting data from APIs

Open data portals from the government and other organizations have APIs, a service that allows you to collect their data. Let's take a look a Seattle data about [Seattle Real Time Fire 911 Calls](https://data.seattle.gov/Public-Safety/Seattle-Real-Time-Fire-911-Calls/kzjm-xkqj).

That page tells you how to get the data into pandas. But first, you need to install **sodapy**. Then you can continue:

In [38]:
#!pip install sodapy

Let's follow some steps, according to the API:

In [39]:
from sodapy import Socrata

# Unauthenticated client (using 'None')

client = Socrata("data.seattle.gov", None)

# If you have credentials:
# client = Socrata(data.seattle.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("kzjm-xkqj", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

ModuleNotFoundError: No module named 'sodapy'

You can see the results now:

In [40]:
results_df

NameError: name 'results_df' is not defined

Data from APIs may need some more pre processing than the previous files. Besides, you should study the API documentation to know how to interact with the portal. Not every open data portal behaves the same.

[home](#home)
____
<a id='part4'></a>

## 4. Scraping

Sometimes you are interested in data from the web. Let me get a table from wikipedia:

In [29]:
from IPython.display import IFrame  
wikiLink="https://en.wikipedia.org/wiki/Democracy_Index" 
IFrame(wikiLink, width=700, height=300)

I will use pandas to get the table, but you need to install these libraries first:
* html5lib 
* beautifulsoup4
* lxml

Let's get the table from Wikipedia now:

In [32]:
DFwiki=pd.read_html(wikiLink,
                    header=0,
                    flavor='bs4',
                    attrs={'class': 'wikitable'})# very important

ImportError: html5lib not found, please install it

Pandas has this command **read_html** that will save lots of coding, above I just said:
* The link to the webpage.
* The position of the header.
* The external library that will be used to extract the text (_flavor_).
* The attributes of the table.

DFwiki is not a data frame:

In [33]:
type(DFwiki)

NameError: name 'DFwiki' is not defined

The command **read_html** returned all the tables with the attribute _wikitable_. Since there may be more than one, a **list** of tables is returned. Lists are the most flexible container offered by Python:

In [ ]:
aList=[1,2,'a','*']
aList

Lists have several interesting functions and properties:

In [34]:
# amount of elements
len(aList)

NameError: name 'aList' is not defined

In [ ]:
# get element
aList[2]

In [ ]:
# replace
aList[3]="**"
aList

In [ ]:
# add element
aList.append(4)
aList

In [ ]:
# erase element
del aList[0]
aList

And the nicest of all: **list comprehension**

In [ ]:
# list of the squared first five positive integers (0 to 4)
easyList_1=[x**2 for x in range(5)]
easyList_1

In [ ]:
# list of multiples of 5 smaller than 50
easyList_2=[x for x in range(50) if x%5==0 and x>0]
easyList_2

In [ ]:
someNames=["Peter","John","Rob", "Ron", "Mike"]
easyList_3=[x for x in someNames if not x.startswith('R')]
easyList_3

In [ ]:
import math

someNumbers=[-1,4,6,-3]
easyList_4a=[math.pow(x,2) for x in someNumbers ]
easyList_4a

In [ ]:
# when using'else' write 'for' at the end
easyList_4b=[math.sqrt(x) if x >=0 else None for x in someNumbers]
easyList_4b

Coming back to our example from wikipedia, we first should check how many DFs we have:

In [35]:
len(DFwiki)

NameError: name 'DFwiki' is not defined

Is ours the first one?

In [36]:
# remember that Python starts counting in ZERO!
DFwiki[0]

NameError: name 'DFwiki' is not defined

or the last one?

In [37]:
DFwiki[4]

NameError: name 'DFwiki' is not defined

Tables scrapped will bring different cleaning challenges. 

[home](#home)
____
<a id='part5'></a>

## 5. Social media data

Social media offer APIs too that allow you to get _some_ data. To use this service, you need to register as a developer. For our Twitter example, you should go [here](https://developer.twitter.com/en).
Once you are a confirmed developer, Twitter, Facebook and others will allow you to get _some_ of their data (the more you pay the more you get). 

Let's pay attention to Twitter. First, check if you have **tweepy**:

In [ ]:
!pip show tweepy

In [ ]:
#!pip install tweepy

Tweepy is the key library, but you may need several other libraries according to your goals.

In [ ]:
import tweepy

Let me introduce myself to Twitter:

In [ ]:
# credentials from a file
import json
keysAPI = json.load(open('APIkeys.txt','r'))

# getting info from the file
api_key = keysAPI['api_key']
api_key_secret = keysAPI['api_key_secret']
access_token = keysAPI['access_token']
access_token_secret = keysAPI['access_token_secret']

# introducing myself:
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api=tweepy.API(auth, wait_on_rate_limit=True,timeout=60,
               parser=tweepy.parsers.JSONParser())

Let me ask for some tweets from a particular user:

In [ ]:
who='@WAStateGov'
howMany=100
gottenTweets = api.user_timeline(screen_name = who, 
                                 count = howMany, 
                                 include_rts = True,
                                 tweet_mode="extended")

You should always check what you have:

In [ ]:
type(gottenTweets)

I have a list, then I could ask how many tweets I got (just to confirm):

In [ ]:
len(gottenTweets)

Let me view what I have in the first tweet:

In [ ]:
gottenTweets[0]

It will take some time to become familiar with a [tweet object structure](https://developer.twitter.com/en/docs/twitter-api/data-dictionary/object-model/tweet). Let's find out how each tweet is currently stored:

In [ ]:
type(gottenTweets[0])

Now you know that each tweet is stored as a **dictionary**. 
Dictionaries or **dicts** are very flexible and important structures in Python. Let me show you a simple one:

In [ ]:
aDictExample={"name":"Peter",
             "speaks":['French', 'Spanish'],
             'country':'Morocco'}

# then
aDictExample

Dicts are a basic structure in Python, and one that makes Python very appealing. Each element in Python can be accessed via **keys**. Our _aDictExample_ has these keys:

In [ ]:
aDictExample.keys()

So, you access the info like this:

In [ ]:
aDictExample['speaks']

Then, let's see our **gottenTweets** keys:

In [ ]:
gottenTweets[0].keys()

In [ ]:
# then:
gottenTweets[0]['created_at']

In [ ]:
gottenTweets[1]['created_at']

We could prepare a data frame using the current tweets, first let's prepare a list of each of fields we want:

In [ ]:
# list comprehesions
dates=[t['created_at'] for t in gottenTweets]
ids=[t['id'] for t in gottenTweets]
rts=[t['retweet_count'] for t in gottenTweets]
likes=[t['favorite_count'] for t in gottenTweets]
text=[t['full_text'] for t in gottenTweets]
rtw=[t['full_text'].startswith('RT') for t in gottenTweets]

Each of the objects created is a list (dates, ids,rts,likes and text). Let me show you one:

In [ ]:
rtw

Let me create a data frame with those lists:

In [ ]:
dictOfColsAsLists={'dates':dates,'ids':ids,'rts':rts,
                   'likes':likes,'text':text,'rtw':rtw}
tweetsAsDF=pd.DataFrame(dictOfColsAsLists)

In [ ]:
tweetsAsDF

You can know how many are retweets or not:

In [ ]:
tweetsAsDF[tweetsAsDF['rtw']==False].shape

In [ ]:
tweetsAsDF[tweetsAsDF['rtw']==True].shape

[home](#home)